body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

body::before {
     content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#title {
    margin-top: 3%;
    color: white;
    text-align: center;
}

#description {
    color: white;
    text-align: center;
}

.form-container {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
}

.form-group {
    border: 2px solid rgb(68, 68, 124);
    background-color: rgb(77, 77, 112);
    border-radius: 1px;
    width: 100%;
    margin-left: 12px;
    color: white;

}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  margin-left: 15px;
  margin-top: 2px;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-control {
    border: 2px solid white;
    border-radius: 5px;
    width: 90%;
    margin-left: 15px;
    height: 30px;
    
}
.input-textarea{
  border-radius: 5px;
  border:2p solid white;
  width: 80%;
  height: 80px;
  margin-bottom :5px;
  margin-left: 15px;
 
}
button {
  border-radius: 5px;
  border:2p solid white;
  width: 80%;
  background-color: green;
  margin-left: 15px;
  margin-bottom :25px;
  border: none;
  color: white;
  height: 50px;
  margin-top: 12px;
}
.any-sug {
  margin-left: 15px;
}

